.header-img {
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    overflow: hidden;
    position: fixed;
}

#header-img {
    width: 350px;
    filter: invert(100%);
    margin: auto;
    display: block;
}

.nav-bar {
    overflow: hidden;
    position: fixed;
    background-color: #1a1a1a;
    width: 100%;
    top: 47px;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 50px;
    float: left;
    transition: background .5s ease;
}

.nav-link:hover {
    background-color: #008fb3;

}

.title {
    margin-top: 150px;
    color: #005fb3;
    text-align: center;

}

#mail {
    display: block;
    margin: auto;
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #008f13;
    font-size: 15px;
    transition: width .5s ease, background .5s ease;
}

#mail::placeholder {
    color:white;
    opacity: 80%;
}

#mail:hover {
    background-color: #008fb3;
    width: 300px;
}

#submit {
    display: block;
    margin: auto;
    padding: 8px;
    border: none;
    border-radius: 10px;
    width: 80px;
    background-color: #008f13;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    transition: background .5s ease;
}

#submit:hover {
    background-color: #008fb3;
    width: 120px;
}

.text {
    width: 700px;
    margin: auto;
    color: #008fb3;
    margin-top: 100px;
    transition: text-shadow .5s ease;
}

.text:hover {
    text-shadow: 0px 0px 10px;
}

#video {
    margin: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #008fb3;
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.product {
    background-color: white;
    margin: 20px;
    border: 1.2px solid black;
    transition: box-shadow .5s ease;
}

.product:hover {
    box-shadow: 0px 0px 5px #008fb3;
}

.product-title {
    padding: 10px;
    background-color: rgb(211, 210, 210);
    color: black;
    text-align: center;
}

#product-submit {
    background-color: rgb(243, 189, 12);
    border: none;
    width: 90px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    transition: background .5s ease;
}

#product-submit:hover {
    background-color: rgb(230, 159, 7);
}

@media screen and (max-width: 500px) {
    .flex-container {
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
        margin: auto;
    }

    .text {
        width: 400px;
    }
}