.main {
    background-color: rgb(238, 232, 232);
}

.header-img {
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgb(238, 232, 232);
}

#header-img {
    width: 350px;
    margin-top: 20px;
    display: block;
    float: left;
}

.nav-bar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    
}

.nav-link {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 50px;
    float: right;
    transition: background .5s ease;
}

.nav-link:hover {
    background-color: #008fb3;

}

.title {
    margin-top: 100px;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

#email {
    display: block;
    margin: auto;
    width: 250px;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid gray;
    background-color: white;
    font-size: 15px;
    transition: width .5s ease, background .5s ease;
}

#email::placeholder {
    color: black;
    opacity: 50%;
}

#email:hover {
    background-color: rgb(238, 232, 232);
    width: 300px;
}

#submit {
    display: block;
    margin: auto;
    padding: 8px;
    border: none;
    border-radius: 2px;
    width: 130px;
    background-color: rgb(255, 196, 0);
    margin-top: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: background .5s ease;
}

#submit:hover {
    background-color: rgb(230, 159, 7);
}

.text {
    width: 800px;
    margin: auto;
    color: black;
    margin-top: 50px;
    float: right;
}

h2 {
    margin-bottom: -15px;
    margin-top: 60px;
}

p {
    font-size: 15px;
    
}


#video {
    margin: auto;
    display: block;
    margin-top: 500px;
    margin-bottom: 100px;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.product {
    background-color: rgb(238, 232, 232);
    margin: 10px;
    width: 600px;
    border: 1.2px solid black;
    transition: box-shadow .5s ease;
}

.product:hover {
    box-shadow: 0px 0px 5px #008fb3;
}

.product-title {
    padding: 3px;
    background-color: rgb(211, 210, 210);
    color: black;
    text-align: center;
}

#product-submit {
    background-color: rgb(243, 189, 12);
    border: none;
    width: 90px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    transition: background .5s ease;
}

#product-submit:hover {
    background-color: rgb(230, 159, 7);
}

@media screen and (max-width: 500px) {
    .flex-container {
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
        margin: auto;
    }

    .text {
        width: 400px;
    }
}